* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.header {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1%;
}
.header h1 {
  font-size: 150%;
  color: orchid;
  text-shadow: 1px 1px 0px black;
}
.header p {
  font-size: 80%;
  border-bottom: 1px solid #bfbfbf;
  color: red;
}
.body {
  height: 90%;
  width: 100%;
  padding: 1%;
}
.container {
  height: 80%;
  width: 100%;
  overflow: scroll;
}
.card {
  margin: 2% 0;
  width: 100%;
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.card span {
  font-size: 12px;
}
.categorycontainer {
  height: 20%;
}
.categoryHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  height: 25%;
  border-bottom: 0.5px solid black;
}
.category {
  display: flex;
  align-items: center;
  padding: 1%;
  width: 100%;
  overflow: scroll;
  height: 75%;
}
button {
  width: calc(100% / 3 - 5px);
  min-width: calc(100% / 3 - 5px);
  height: 50%;
  margin: 10px;
  background-color: transparent;
  outline: none;
  border: 1px solid black;
  border-radius: 10px;
}
button:hover {
  background-color: #bfbfbf;
}
@media (min-width: 768px) {
  .body {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .container {
    width: 58%;
    height: 100%;
  }
  .categorycontainer {
    display: flex;
    flex-direction: column;
    width: 38%;
    height: 100%;
  }
  .categorycontainer h1 {
    height: 5%;
  }
  .category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    height: 95%;
    overflow: scroll;
  }
  .category button {
    width: 90%;
    height: 7%;
  }
}
